## Admin

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import scipy.stats as stats

In [2]:
pd.set_option('html', True)#sets the dataframe to include HTML code for visual perspective
pd.set_option('max_columns', 5000) #max columns to show
pd.set_option('max_rows', 300) #max rows to show
pd.set_option('display.large_repr', 'info') #when data exceeds max rows / columns; a summary view is given
pd.set_option('display.width', 100000) #set the width the notebook will display in characters
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
data = '''Region, Alcohol, Tobacco
North, 6.47, 4.03
Yorkshire, 6.13, 3.76
Northeast, 6.19, 3.77
East Midlands, 4.89, 3.34
West Midlands, 5.63, 3.47
East Anglia, 4.52, 2.92
Southeast, 5.89, 3.20
Southwest, 4.79, 2.71
Wales, 5.27, 3.53
Scotland, 6.08, 4.51
Northern Ireland, 4.02, 4.56'''

In [4]:
data = data.split('\n')

In [5]:
data = [i.split(',') for i in data]

In [6]:
data

[['Region', ' Alcohol', ' Tobacco'],
 ['North', ' 6.47', ' 4.03'],
 ['Yorkshire', ' 6.13', ' 3.76'],
 ['Northeast', ' 6.19', ' 3.77'],
 ['East Midlands', ' 4.89', ' 3.34'],
 ['West Midlands', ' 5.63', ' 3.47'],
 ['East Anglia', ' 4.52', ' 2.92'],
 ['Southeast', ' 5.89', ' 3.20'],
 ['Southwest', ' 4.79', ' 2.71'],
 ['Wales', ' 5.27', ' 3.53'],
 ['Scotland', ' 6.08', ' 4.51'],
 ['Northern Ireland', ' 4.02', ' 4.56']]

In [11]:
column_names = data[0]
data_rows = data[1:]
df = pd.DataFrame(data_rows, columns=column_names)
df

              Region  Alcohol  Tobacco
0              North     6.47     4.03
1          Yorkshire     6.13     3.76
2          Northeast     6.19     3.77
3      East Midlands     4.89     3.34
4      West Midlands     5.63     3.47
5        East Anglia     4.52     2.92
6          Southeast     5.89     3.20
7          Southwest     4.79     2.71
8              Wales     5.27     3.53
9           Scotland     6.08     4.51
10  Northern Ireland     4.02     4.56

In [15]:
df.columns

Index([u'Region', u' Alcohol', u' Tobacco'], dtype='object')

In [16]:
#convert numbers to float:
df[' Alcohol'] = df[' Alcohol'].astype(float)
df[' Tobacco'] = df[' Tobacco'].astype(float)

In [17]:
df = df.rename(columns={' Alcohol': 'Alcohol', ' Tobacco': 'Tobacco'})
df.columns

Index([u'Region', u'Alcohol', u'Tobacco'], dtype='object')

In [19]:
df.describe()

       Alcohol  Tobacco
count    11.00    11.00
mean      5.44     3.62
std       0.80     0.59
min       4.02     2.71
25%       4.84     3.27
50%       5.63     3.53
75%       6.11     3.90
max       6.47     4.56

In [36]:
def basic_stats_alcohol_tobacco(dataframe):
    print 'The mean of the Alcohol data is:', dataframe['Alcohol'].mean()
    print 'The median of the Alcohol data is:', dataframe['Alcohol'].median()
    print 'The mode of the Alcohol data is:', stats.mode(df['Alcohol'])
    print 'The variance of the Alcohol data is:', dataframe['Alcohol'].var()
    print 'The standard deviation of the Alcohol data is:', dataframe['Alcohol'].std()
    print 'The range of the Alcohol data is:', max(df['Alcohol']) - min(df['Alcohol'])
    print ''
    print 'The mean of the Tobacco data is:', dataframe['Tobacco'].mean()
    print 'The median of the Tobacco data is:', dataframe['Tobacco'].median()
    print 'The mode of the Tobacco data is:', stats.mode(df['Tobacco'])
    print 'The variance of the Tobacco data is:', dataframe['Tobacco'].var()
    print 'The standard deviation of the Tobacco data is:', dataframe['Tobacco'].std()
    print 'The range of the Tobacco data is:', max(df['Tobacco']) - min(df['Tobacco'])

In [37]:
basic_stats_alcohol_tobacco(df)

The mean of the Alcohol data is: 5.44363636364
The median of the Alcohol data is: 5.63
The mode of the Alcohol data is: (array([ 4.02]), array([ 1.]))
The variance of the Alcohol data is: 0.636425454545
The standard deviation of the Alcohol data is: 0.797762780873
The range of the Alcohol data is: 2.45

The mean of the Tobacco data is: 3.61818181818
The median of the Tobacco data is: 3.53
The mode of the Tobacco data is: (array([ 2.71]), array([ 1.]))
The variance of the Tobacco data is: 0.348936363636
The standard deviation of the Tobacco data is: 0.590708357514
The range of the Tobacco data is: 1.85

### Probability Graph

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab

mean = 0
variance = 1
sigma = np.sqrt(variance) # this is the standard deviation
x = np.linspace(-3,3,100)
plt.plot(x, mlab.normpdf(x,mean,sigma))

plt.show()