##Admin

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import scipy.stats as stats

In [2]:
pd.set_option('html', True)#sets the dataframe to include HTML code for visual perspective
pd.set_option('max_columns', 5000) #max columns to show
pd.set_option('max_rows', 300) #max rows to show
pd.set_option('display.large_repr', 'info') #when data exceeds max rows / columns; a summary view is given
pd.set_option('display.width', 100000) #set the width the notebook will display in characters
pd.set_option('display.float_format', lambda x: '%.2f' % x)

#### Lesson 1; Sub-Unit: Think Like A Coder

In [3]:
# Ingredients are stored as a dictionary of tuples. Each tuple contains the name
# of the ingredients and the amount in milliliters (unless otherwise specified)
# Why a dictionary of tuples? Because it is kinda convenient, and shows off how to
# combine multiple data structures.
ingredients = {
    "butter"  : ("butter", 118.3),
    "sugar"   : ("sugar", 236.6),
    "vanilla" : ("vanilla", 4.929),
    "eggs"    : ("eggs", 2), # whole eggs
    "cocoa"   : ("cocoa", 118.3),
    "flour"   : ("flour", 118.3)
}

# The butter was refrigerated, so it's not soft yet.
butter_soft = False

bowl = [] #empty list where the ingredients will go to be mixed

# To make the cake, we'll need the following functions
def melt(this):
    print("Melting {0}.".format(this)) #take an ingredient (this) and 'melt' it

def bake(this, temp):
    print("Baking {0} at {1}.".format(this, temp)) #takes ingredient and 'bakes' it at specified temp

def mix(this):
    print("Mixing {0}.".format(this)) #mixes specific ingredient

def add_to_bowl(ingredient):
    print("Adding {0} to the bowl.".format(ingredient)) #takes ingredient and 'adds' to bowl
    return bowl.append(ingredient) #adds ingredient to empty bowl list


##### Start the algorithm! #####

if butter_soft != True: #if butter is not soft, then:
    melt(ingredients["butter"][0]) #run melt function that melt's the butter
    butter_soft = True #butter is now soft

add_to_bowl(ingredients["butter"][0]) #add the butter to the bowl from the dictionary ingredients, calling key 'butter' and 
                                      #and taking the first value [0], in this case the word 'butter'
add_to_bowl(ingredients["sugar"][0]) #add the sugar to the bowl - same logic as above

mixing_time = 0 #set current mix time to 0
mixture_creamy = False #set current mixture creamy level to 'False'

# Mix until creamy
while mixture_creamy == False: #while the mixture is not creamy, do the following:
    mix(bowl) #mix the ingredients that are currently in the bowl
    mixing_time += 1 #add one minute to the mixing time total
    if mixing_time == 3: #if the mixing time is equal to 3 minutes, then:
        # After 3 minutes, the mixture will be creamy,
        # and our while loop will stop
        mixture_creamy = True #mixture is now creamy, this 'while' loop is complete

add_to_bowl(ingredients["eggs"][0]) #add eggs to bowl
add_to_bowl(ingredients["vanilla"][0]) #add vanilla to bowl

mix(bowl) #mix the ingredients in the bowl again

add_to_bowl(ingredients["cocoa"][0]) #add cocoa to the bowl
add_to_bowl(ingredients["flour"][0]) #add flour to the bowl

mixing_time = 0 #reset the mixing time to zero
well_blended = False #set blend level to 'False'

# Mix until well-blended
while well_blended == False: #as long as the blend level is False, do the following:
    mix(bowl) #mix the ingredients in the bowl
    mixing_time += 1 #add one minute to the mixing time
    if mixing_time == 4: #when mixing time = 4 minutes:
        well_blended = True #change blend status to 'True', loop complete

# In cooking terms: pour contents of the bowl into a cake pan
# In Python terms: redefine the bowl variable as cake_pan
cake_pan = bowl 

cooking_temp = 350 #set cook temp to 350
cooking_time = 30 #set cook time to 30 minutes

clock = 1 #set clock for cooking time to 0
for minute in range(0, cooking_time): #for each minute during the cooking time, do the following:    
    bake(cake_pan, cooking_temp) #run bake function with all ingredients in the new cake pan variable at the cook temp defined
    print (cooking_time - clock), 'minutes of cooking remain'
    clock += 1
    
print("Cake is done!") #we are done - cake is cooked

Melting butter.
Adding butter to the bowl.
Adding sugar to the bowl.
Mixing ['butter', 'sugar'].
Mixing ['butter', 'sugar'].
Mixing ['butter', 'sugar'].
Adding eggs to the bowl.
Adding vanilla to the bowl.
Mixing ['butter', 'sugar', 'eggs', 'vanilla'].
Adding cocoa to the bowl.
Adding flour to the bowl.
Mixing ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'].
Mixing ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'].
Mixing ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'].
Mixing ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'].
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
29 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
28 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
27 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
26 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
25 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
24 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
23 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
22 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
21 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
20 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
19 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
18 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
17 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
16 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
15 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
14 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
13 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
12 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
11 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
10 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
9 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
8 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
7 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
6 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
5 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
4 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
3 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
2 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
1 minutes of cooking remain
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
0 minutes of cooking remain
Cake is done!

#### FizzBuzz Algorithm

It goes like this:
Loop through all the integers from 1 to 100
If the number is divisible by 3, print "Fizz"
If the number is divisible by 5, print "Buzz"
If the number is divisible by both, print "FizzBuzz"
If the number is divisible by neither, print the number

In [4]:
def FizzBuzz(a,b):
    for i in range(a,b):
        if i % 3 == 0 and i % 5 == 0:
            print 'FizzBuzz'
        elif i % 3 == 0:
            print 'Fizz'
        elif i % 5 == 0:
            print 'Buzz'
        else:
            print i

In [5]:
FizzBuzz(1,101)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#### Opening up Land data file (reading and writing files in python)

In [7]:
pwd

u'C:\\Users\\griggrj\\Desktop\\Thinkful'

In [9]:
cd C:\\Users\\griggrj\\Desktop\\Thinkful\\land_data

C:\Users\griggrj\Desktop\Thinkful\land_data

In [10]:
pwd

u'C:\\Users\\griggrj\\Desktop\\Thinkful\\land_data'

In [16]:
land_data = pd.read_csv('lecz-urban-rural-population-land-area-estimates_continent-90m.csv')
land_data.tail()

         Continent                        ElevationZone UrbanRuralDesignation  Population1990  Population2000  Population2010  Population2100  LandArea
115  South America  Elevations Less Than or Equal To 7m                 Urban         9357959        11074365        12771388        21107053     13236
116  South America  Elevations Less Than or Equal To 9m                 Rural         3373239         3888725         4267061         8057467    208002
117  South America  Elevations Less Than or Equal To 9m                 Urban        12822897        15110534        17402616        28930098     17430
118  South America            Total National Population                 Rural       112350531       127151325       140056209       239202641  15711683
119  South America            Total National Population                 Urban       173863402       208463363       239968353       389584115    306223

In [13]:
land_data.Continent.value_counts()

Asia             20
Africa           20
North America    20
Oceania          20
South America    20
Europe           20
dtype: int64

In [17]:
land_data_totals = land_data[(land_data.ElevationZone == 'Total National Population')]
land_data_totals

         Continent              ElevationZone UrbanRuralDesignation  Population1990  Population2000  Population2010  Population2100  LandArea
18          Africa  Total National Population                 Rural       361093713       452970623       573918429      1367949254  24092338
19          Africa  Total National Population                 Urban       195412402       258131640       327611385       649906552    228175
38            Asia  Total National Population                 Rural      1979944334      2129687281      2345920129      3478325610  39648539
39            Asia  Total National Population                 Urban      1237986520      1573156714      1720930281      2369159274   1336611
49         Oceania  Total National Population                 Rural         9561292        11471250        14024049        20681609   8441651
59         Oceania  Total National Population                 Urban        17136649        19451769        23152802        25224909     50597
78          Europe  Total National Population                 Rural       176568570       176558812       223529720       125348019   4840266
79          Europe  Total National Population                 Urban       362783257       371322835       481254575       317506277    632478
98   North America  Total National Population                 Rural       121730674       138236608       136724785       271046607  20387978
99   North America  Total National Population                 Urban       307915785       349752222       368856952       485864890   1087642
118  South America  Total National Population                 Rural       112350531       127151325       140056209       239202641  15711683
119  South America  Total National Population                 Urban       173863402       208463363       239968353       389584115    306223

In [21]:
total_population = land_data_totals.pivot_table(values='Population2010',index='Continent', aggfunc=sum)
total_population = pd.DataFrame(total_population)
total_population

               Population2010
Continent
Africa              901529814
Asia               4066850410
Europe              704784295
North America       505581737
Oceania              37176851
South America       380024562