In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf #needed for models in this script
import pylab as pl
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [2]:
pd.set_option('html', True) #see the dataframe in a more user friendly manner
%matplotlib inline

## Get Data

In [4]:
train = pd.read_csv('san_fran_training.csv')
test = pd.read_csv('san_fran_test.csv')

In [5]:
train.head(2)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599

In [6]:
test.head(2)

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432

In [7]:
print 'training length:', len(train)
print 'testing length:', len(test)

training length: 878049
testing length: 884262

In [9]:
train.dtypes

Dates          object
Category       object
Descript       object
DayOfWeek      object
PdDistrict     object
Resolution     object
Address        object
X             float64
Y             float64
dtype: object

In [11]:
#change date datatype from object to datetime:
train['Dates'] = train['Dates'].astype('datetime64[ns]')

In [12]:
train.dtypes

Dates         datetime64[ns]
Category              object
Descript              object
DayOfWeek             object
PdDistrict            object
Resolution            object
Address               object
X                    float64
Y                    float64
dtype: object

<b>Visualize and Explore Data:</b>

In [18]:
train.DayOfWeek.value_counts()

Friday       133734
Wednesday    129211
Saturday     126810
Thursday     125038
Tuesday      124965
Monday       121584
Sunday       116707
dtype: int64

In [21]:
print train.Category.value_counts()
print ''
print 'Number of Categories:', train.Category.value_counts().count()

LARCENY/THEFT                  174900
OTHER OFFENSES                 126182
NON-CRIMINAL                    92304
ASSAULT                         76876
DRUG/NARCOTIC                   53971
VEHICLE THEFT                   53781
VANDALISM                       44725
WARRANTS                        42214
BURGLARY                        36755
SUSPICIOUS OCC                  31414
MISSING PERSON                  25989
ROBBERY                         23000
FRAUD                           16679
FORGERY/COUNTERFEITING          10609
SECONDARY CODES                  9985
WEAPON LAWS                      8555
PROSTITUTION                     7484
TRESPASS                         7326
STOLEN PROPERTY                  4540
SEX OFFENSES FORCIBLE            4388
DISORDERLY CONDUCT               4320
DRUNKENNESS                      4280
RECOVERED VEHICLE                3138
KIDNAPPING                       2341
DRIVING UNDER THE INFLUENCE      2268
RUNAWAY                          1946
LIQUOR LAWS                      1903
ARSON                            1513
LOITERING                        1225
EMBEZZLEMENT                     1166
SUICIDE                           508
FAMILY OFFENSES                   491
BAD CHECKS                        406
BRIBERY                           289
EXTORTION                         256
SEX OFFENSES NON FORCIBLE         148
GAMBLING                          146
PORNOGRAPHY/OBSCENE MAT            22
TREA                                6
dtype: int64

Number of Categories: 39

In [23]:
print train.Descript.value_counts()
print ''
print 'Number of Descriptions:', train.Descript.value_counts().count()

GRAND THEFT FROM LOCKED AUTO                                60022
LOST PROPERTY                                               31729
BATTERY                                                     27441
STOLEN AUTOMOBILE                                           26897
DRIVERS LICENSE, SUSPENDED OR REVOKED                       26839
WARRANT ARREST                                              23754
SUSPICIOUS OCCURRENCE                                       21891
AIDED CASE, MENTAL DISTURBED                                21497
PETTY THEFT FROM LOCKED AUTO                                19771
MALICIOUS MISCHIEF, VANDALISM OF VEHICLES                   17789
TRAFFIC VIOLATION                                           16471
PETTY THEFT OF PROPERTY                                     16196
MALICIOUS MISCHIEF, VANDALISM                               15957
THREATS AGAINST LIFE                                        14716
FOUND PROPERTY                                              12146
ENROUTE TO OUTSIDE JURISDICTION                             11470
GRAND THEFT OF PROPERTY                                     11010
POSSESSION OF NARCOTICS PARAPHERNALIA                       10050
PETTY THEFT FROM A BUILDING                                 10029
PETTY THEFT SHOPLIFTING                                      9571
GRAND THEFT FROM A BUILDING                                  9512
FOUND PERSON                                                 9317
RESISTING ARREST                                             8983
CREDIT CARD, THEFT BY USE OF                                 8877
MISSING JUVENILE                                             8620
STOLEN TRUCK                                                 8591
MISCELLANEOUS INVESTIGATION                                  8389
VEHICLE, RECOVERED, AUTO                                     8199
MISSING ADULT                                                8052
PROBATION VIOLATION                                          8016
                                                            ...
BIGAMY, INCEST, AND THE CRIME AGAINST NATURE (GENERAL)          1
DRIVING, DRAG RACING                                            1
ATTEMPTED THEFT PHONE BOOTH                                     1
THEFT, DRUNK ROLL, ATT.                                         1
EMBEZZLEMENT, GRAND THEFT BY PROPERTY CARRIER                   1
PLANTING/CULTIVATING PEYOTE                                     1
ALCOHOLIC BEVERAGE, PROCURING SALE OF                           1
DOG, FIGHTING;  OWNING, FIGHTING, OR ATTENDING FIGHT            1
HAZARDOUS MATERIALS, DUMP OIL INTO SEWERS                       1
OBSTRUCTING HEALTH FACILITY, PLACE OF WORSHIP, OR SCHOOL        1
EMBEZZLEMENT, GRAND THEFT PUBLIC/PRIVATE OFFICIAL               1
PUTTING SLUGS IN PARKING METERS                                 1
ATTEMPTED SUICIDE BY DROWNING                                   1
BURGLARY,HOTEL UNDER CONSTRUCTION, ATT. FORCIBLE                1
PUBLIC UTILITY INFORMATION, FRAUDULENTLY OBTAINING              1
ASSAULT TO ROB WITH BODILY FORCE                                1
SCHOOL GROUNDS, ENTRY BY SEX OFFENDER                           1
DESTROYING JAIL PROPERTY-$200 OR UNDER                          1
ENCOURAGE MINOR TO USE CONTROLLED SUBSTANCE                     1
FALSE REPRESENTATION TO SECONDHAND DEALER                       1
VIOLATION OF CALIF UNEMPLOYMENT INSURANCE ACT                   1
SOLICITING MINOR TO COMMIT FELONY                               1
TERRORIZING BY MARKING PRIVATE PROPERTY                         1
ASSAULT, AGGRAVATED, ON POLICE OFFICER, W/ SEMI AUTO            1
ASSAULT TO ROB BANK WITH A GUN                                  1
IMPERSONATING FIRE DEPARTMENT MEMBER                            1
BURGLARY,WAREHOUSE UNDER CONSTRT, ATT. FORCIBLE                 1
ATTEMPTED HOMICIDE WITH EXPLOSIVES                              1
ARSON OF A POLICE VEHICLE                                       1
DESTRUCTIVE DEVICE, POSSESSION OF MATERIALS                     1
dtype: int64

Number of Descriptions: 879

In [24]:
train.PdDistrict.value_counts()

SOUTHERN      157182
MISSION       119908
NORTHERN      105296
BAYVIEW        89431
CENTRAL        85460
TENDERLOIN     81809
INGLESIDE      78845
TARAVAL        65596
PARK           49313
RICHMOND       45209
dtype: int64

In [25]:
train.Resolution.value_counts()

NONE                                      526790
ARREST, BOOKED                            206403
ARREST, CITED                              77004
LOCATED                                    17101
PSYCHOPATHIC CASE                          14534
UNFOUNDED                                   9585
JUVENILE BOOKED                             5564
COMPLAINANT REFUSES TO PROSECUTE            3976
DISTRICT ATTORNEY REFUSES TO PROSECUTE      3934
NOT PROSECUTED                              3714
JUVENILE CITED                              3332
PROSECUTED BY OUTSIDE AGENCY                2504
EXCEPTIONAL CLEARANCE                       1530
JUVENILE ADMONISHED                         1455
JUVENILE DIVERTED                            355
CLEARED-CONTACT JUVENILE FOR MORE INFO       217
PROSECUTED FOR LESSER OFFENSE                 51
dtype: int64